<div class="container" ng-controller="TaskController">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="input-area">
    <input ng-model="text" type="text" class="form-control" placeholder="Write something" value="Write something">
    <div ng-bind="text"></div>
    <div ng-bind="::text"></div>
  </div>

  <div class="repeat-area" ng-repeat="cat in cats">
    <img ng-src="{{cat.picture}}">
    <div ng-bind="cat.name"></div>
  </div>

  <style type="text/css">
    .container {
      text-align: center;
    }

    .input-area {
      background-color: #222222;
      text-align: center;
      display: inline-block;
    }

    .input-area > div {
      color: white;
    }

    .repeat-area {
      display: table-caption;
      background-color: #2e2e19;
    }
    .repeat-area > div{
      color: white;
    }
  </style>

</div>
